/* GENERAL STYLE */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    width: 100%;
}
h1{
    white-space: nowrap;
}
/* SCROLLBAR STYLE */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* HEADER STYLE */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* MAIN STYLE */
.main {
    background-color: #f1f1f1;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
    width: 100%;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: nowrap;
    width: 75%;
    margin: 20px 0;
}
.output{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: nowrap;
    width: 75%;
    margin: 20px 0;
}
input{
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    width: 100%;
}
input:focus::placeholder{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 10px;
    color: #1a314e;
}
select{
    margin-right: 10px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #000;
    width: 30%;

}
/* FOOTER STYLE */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 20px 100px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}